
{% extends 'usuarios/base.html' %}
{% load tz %}
{% block conteudo %}

<div class="container"></br>

  <h2>Editar Usuário</h2>
  <form method="POST" action="{% url 'editar_usuario' id=usuario.id_usuario %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="nome_cliente">Nome do Cliente:</label>
      <input type="text" class="form-control" id="nome_cliente" name="nome_cliente" value="{{ usuario.nome_cliente }}" required>
    </div>
    <div class="form-group">
      <label for="data_da_festa">Data da Festa:</label>
      <input type="date" class="form-control" id="data_da_festa" name="data_da_festa" value="{{ usuario.data_da_festa|date:'Y-m-d' }}" required>
    </div>
    <div class="form-group">
      <label for="endereco">Endereço:</label>
      <input type="text" class="form-control" id="endereco" name="endereco" value="{{ usuario.endereco }}" required>
    </div>



    <label for="id_datas_importantes">Data importante</label>
    <input type="checkbox" name="datas_importantes" id="id_datas_importantes" {% if usuario.datas_importantes %}checked{% endif %}>
    





    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{% url 'usuarios' %}" class="btn btn-secondary">Cancelar</a>
  </form>


</div>

{% endblock %}


<select class="form-control-sm" name="datas_importantes" id="datas_importantes">
  <option value="0"{% if not usuario.datas_importantes %} selected{% endif %}>Não</option>
  <option value="1"{% if usuario.datas_importantes %} selected{% endif %}>Sim</option>
</select>