
{% extends 'usuarios/base.html' %}

{% block conteudo %}</br>

    
      <form action="{% url 'usuarios' %}" method="POST">
        {% csrf_token %} 
        <div style="text-align:center;" class="container">
        
            <h2>Cadastre suas datas importantes...!</h2></br>
            Nome <input name="nome_cliente" class="form-control-sm" type="text" required>
            Data da Festa <input name="data_da_festa" class="form-control-sm" type="date" required>
            Endereço <input name ="endereco" class="form-control-sm" type="text" required>
            
  
            <form action="{% url 'usuarios' %}" method="POST">
            <div style="text-align:right;"class="form-group">
              <label for="datas_importantes">Data IMPORTANTE:</label>

              <select class="form-control-sm" name="datas_importantes" id="datas_importantes">
                <option value="False">NÃO</option>
                <option value="True">SIM</option>
              </select>
            </div></br>

          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> 

          <div style="text-align:center;" class="container">
  

             <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>

            </div>
          
        </div>
    </form>

{% endblock %}


